QWEN_BASE_URL=http://localhost:8081
QWEN_ENABLE_THINKING=true
QWEN_INCLUDE_USAGE=false
QWEN_THINKING_MIN_MAX_TOKENS=8192
QWEN_MAX_TOKENS=4096
QWEN_TIMEOUT_MS=120000
QWEN_ASYNC_TIMEOUT_MS=900000
QWEN_MAX_TOTAL_BYTES=1200000
QWEN_MAX_FILE_BYTES=240000
QWEN_MAX_PDF_BYTES=20000000
QWEN_MAX_IMAGE_BYTES=20000000
QWEN_IMAGE_MAX_DIMENSION=2048
QWEN_JOB_TTL_MS=3600000
# QWEN_MODEL=Qwen3.6-35B-A3B-Q4_K_M-00001-of-00002.gguf
